<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id          = "ru.nyumi.app"
        versionCode = "10"
        version     = "1.5.0">

    <name>Nyumi.ru</name>

    <description>
        Интернет-магазин детских товаров в Тазовском
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="28" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#FF9E00" />
    
    <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
      </edit-config>
    </platform>


    <platform name="android">
        <icon src="res/android/icon/fcebfd972467128307416b58be2bd92c.png" density="ldpi" />
        <icon src="res/android/icon/72f43f47923f152066b83c8b81ddf3bb.png" density="mdpi" />
        <icon src="res/android/icon/58f33a9b0b7c14062f41f51a9cf4e688.png" density="hdpi" />
        <icon src="res/android/icon/7af9684a3da6392fc9f4ed416d45bb2f.png" density="xhdpi" />
        <icon src="res/android/icon/7876e04d2a5d98122cc5f4a97401ab80.png" density="xxhdpi" />
        <icon src="res/android/icon/adc3e8edf5391a8359a456f6f44570a7.png" density="xxxhdpi" />

        <splash src="res/android/screen/a090673ac90151aeb8a84761cfd686ee.png" density="port-hdpi"/>
        <splash src="res/android/screen/d1ddd04a1a119fae9f5297ad2d76a520.png" density="port-ldpi"/>
        <splash src="res/android/screen/6c2b72bf072258e99b6ee24292f35cc9.png" density="port-mdpi"/>
        <splash src="res/android/screen/570b243bba3bca9c0122818b2879d0f9.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/dab12fc4f166f0dc1b9fd7f2d55a063d.png" width="180" height="180" />
        <icon src="res/ios/icon/8d3879e011f2740f87814f94c78e9116.png" width="60" height="60" />
        <icon src="res/ios/icon/62b45e34971e5aa94017c0a8f039926d.png" width="120" height="120" />
        <icon src="res/ios/icon/fa13706a7dafc5acabc5d342d9ac9a0d.png" width="76" height="76" />
        <icon src="res/ios/icon/c14946deaa2136a9c81739642504418d.png" width="152" height="152" />
        <icon src="res/ios/icon/7762b0dfd9095874551a7e8e32f473bc.png" width="57" height="57" />
        <icon src="res/ios/icon/432bd71775e1c09280d0ff786a7819ee.png" width="114" height="114" />
        <icon src="res/ios/icon/b421d65ef67559a2f5b58fea409b014d.png" width="72" height="72" />
        <icon src="res/ios/icon/b5ecce9e090c8fc033b492738d1d0033.png" width="144" height="144" />
        <icon src="res/ios/icon/3ad346f22d566effaf6b18f0d1846962.png" width="167" height="167" />
        <icon src="res/ios/icon/9bd379f22f1f2a43eca86eaa0007e540.png" width="29" height="29" />
        <icon src="res/ios/icon/88d9b7a816e8e543dec2e2e0eb373da7.png" width="58" height="58" />
        <icon src="res/ios/icon/21f767692efb16edb8fe8a3697fed1cc.png" width="87" height="87" />
        <icon src="res/ios/icon/c385ecf4b76e3a2df0db35d8a8b92e26.png" width="167" height="167" />

        <splash src="res/ios/screen/2140481b237a3cbf87f35c767b7000e1.png" />
        <splash src="res/ios/screen/4c49f6cd5dbc935d0f47caa5231fa4ac.png" />
        <splash src="res/ios/screen/6c26b8548a0a9b1cb8f60973380534af.png" />
        <splash src="res/ios/screen/829c88a6880b3729a0f1082026984f1d.png" />
        <splash src="res/ios/screen/029fe7b815292811e1dc8e8fbd776d65.png" />
        <splash src="res/ios/screen/d7d17fbfed7873863aa950d75403ed71.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/ab942446ac0248c3dd139bac71000794.png" target="StoreLogo" />
        <icon src="res/windows/icon/ff02460cb7d12458a8e37b94db668905.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/178b561e711eb45be50d670930456174.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/cd13ca678f23abb54a2fbaa5419a51fb.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/f4c9d22d08c197b3fd8388367fd06e90.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/565bd6bb5d55e43ff2bf957bc48f2401.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/4b81aecf139a9584ccafe738f36b21ef.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/6fee4b5cd885588f3657c867926d7673.png" target="SplashScreen"/>
        <splash src="res/windows/screen/29f15b8481708c58fff31f25e36e8356.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>